<a href="https://colab.research.google.com/github/chetana-vasave3/MySql/blob/main/SQL_quries_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Executing SQL queries using Python
We can use the mysql-connector-python library  to connect to relational databases and execute SQL queries.

In [ ]:
pip install mysql-connector-python  #to install the module

In [ ]:
import mysql.connector as connector
import pandas as pd

- 1)Build Connection between mysql and server
- 2)make cursor to execute quries
- 3)execute the commands using this cursor

In [ ]:
connection=connector.connect(user="root",password="ipcs",host="127.0.0.1",database="employee")

In [ ]:
cursor=connection.cursor()

A cursor is a control structure that allows you to interact with the database. You can use this cursor to execute SQL queries and fetch data from the database.

Once this line is executed, the cursor variable will be ready to execute SQL queries on the connected MySQL database. You can use this cursor to perform actions like executing SQL queries, fetching results, and more.

fetchone() method to retrieve the next row from the result set of a database query. This method is typically used after executing a SELECT query to retrieve one row at a time from the result set.

In [ ]:
#closing the connection
connection.close()

### SQL queries excuting from MySQL to python using mysql.connector

In [ ]:
import mysql.connector
from mysql.connector import connection

In [ ]:
connection=mysql.connector.connect(user="root",password="ipcs",host="127.0.0.1",database="classicmodels")

In [ ]:
#creating cursor object to execute
cursor1=connection.cursor(buffered=True)

In [ ]:
#creating data
drop="drop database if exists prathmesh"
cursor1.execute(drop)
new_database="create database prathmesh"
cursor1.execute(new_database)

In [ ]:
#use database
use="use prathmesh"
cursor1.execute(use)
new_table="create table ipcs_data(name char(20),id int,city char(20))"
cursor1.execute(new_table)

In [ ]:
#insert values
value1="insert into ipcs_data values('chetana',1,'ratnagiri')"
value2="""insert into ipcs_data values("bicky",5,"gadchiroli")"""
value3="""insert into ipcs_data values("adarsh",2,"nagpur")"""

In [ ]:
cursor1.execute(value1)
cursor1.execute(value2)
cursor1.execute(value3)

In [ ]:
connection.commit()

In [ ]:
update="""update ipcs_data set name="trupti" where id=1"""
cursor1.execute(update)

In [ ]:
connection.commit()

In [ ]:
#creating new database
drop="drop database if exists adarsh"
cursor1.execute(drop)
new_database="create database adarsh"
cursor1.execute(new_database)

In [ ]:
select="select * from ipcs_data"
cursor1.execute(select)

In [ ]:
x=cursor1.fetchall()

In [ ]:
x

[('trupti', 1, 'ratnagiri'),
 ('bicky', 5, 'gadchiroli'),
 ('adarsh', 2, 'nagpur')]

In [ ]:
#use database
use_database=cursor1.execute("use adarsh")
cursor1.execute(use_database)
#creating table
drop=cursor1.execute("drop table if exists ipcs_data")
cursor1.execute(drop)
new_table=cursor1.execute("""create table ipcs_data(Name varchar(25), ID int, course_name varchar(25),duration_months int)""")

In [ ]:
values="""insert into ipcs_data values("trupti",2,"data analysis",4)"""

In [ ]:
value2="""insert into ipcs_data values("sarthak",3,"data science",6)"""

In [ ]:
value3="""insert into ipcs_data values("bicky",4,"data science",4)"""

In [ ]:
cursor1.execute(value3)

In [ ]:
cursor1.execute(values)

In [ ]:
cursor1.execute(value2)

In [ ]:
connection.commit()

In [ ]:
#closing the connection
connection.close()

In [ ]:
select="select * from ipcs_data"
cursor1.execute(select)
x=cursor1.fetchall()

ProgrammingError: 1146 (42S02): Table 'classicmodels.ipcs_data' doesn't exist

In [ ]:
x

[('bicky', 4, 'data science', 4),
 ('trupti', 2, 'data analysis', 4),
 ('sarthak', 3, 'data science', 6)]

In [ ]:
import pandas as pd

In [ ]:
data=pd.DataFrame(x, columns=["name","ID","Course_name","Duration"])

In [ ]:
data

      name  ID    Course_name  Duration
0   trupti   2  data analysis         4
1  sarthak   3   data science         6
2    bicky   4   data science         4

In [ ]:
connection=mysql.connector.connect(user="root",password="ipcs",host="127.0.0.1",database="adarsh")

In [ ]:
#creating cursor object to execute
cursor2=connection.cursor(buffered=True)

In [ ]:
select="show tables"
cursor2.execute(select)
x=cursor2.fetchall()
x

[('ipcs_data',)]

In [ ]:
select="select * from ipcs_data"
cursor2.execute(select)
x=cursor2.fetchall()

In [ ]:
x

[('bicky', 4, 'data science', 4),
 ('trupti', 2, 'data analysis', 4),
 ('sarthak', 3, 'data science', 6),
 ('shweta', 10, 'python', 6)]